In [85]:
# import packages
import pandas as pd
import duckdb

pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)
pd.set_option("display.expand_frame_repr",False)

In [88]:
# connect database
from pipelines.tasks.config.common import DUCKDB_FILE
con = duckdb.connect(database=DUCKDB_FILE, read_only=True)

In [87]:
# Liste des tables
db_tables = con.sql("SHOW TABLES").df() # Afficher le DataFrame 
print(db_tables)

                       name
0   ana__resultats_communes
1              cog_communes
2              edc_communes
3          edc_prelevements
4             edc_resultats
5          laposte_communes
6        mapping_categories
7         stg_communes__cog
8     stg_communes__laposte
9         stg_edc__communes
10  stg_edc__prevelevements
11       stg_edc__resultats

In [ ]:
#view table edc_communes
edc_communes_show = con.execute("SELECT * FROM edc_communes LIMIT 2").fetchdf()
edc_communes_show

  inseecommune                  nomcommune quartier   cdreseau                 nomreseau  debutalim  de_partition de_ingestion_date de_dataset_datetime
0        01001  ABERGEMENT-CLEMENCIAT (L')        -  001000556  BDS ST DIDIER/CHALARONNE 2010-09-07          2024        2025-02-28     20250203-075802
1        01002    ABERGEMENT-DE-VAREY (L')        -  001000369     L'ABERGEMENT-DE-VAREY 2010-09-07          2024        2025-02-28     20250203-075802

In [ ]:
#view table edc_prelevements
edc_prelevements_show = con.execute("SELECT * FROM edc_prelevements LIMIT 2").fetchdf()
edc_prelevements_show

  cddept   cdreseau inseecommuneprinc nomcommuneprinc cdreseauamont nomreseauamont pourcentdebit referenceprel   dateprel heureprel                                                                                           conclusionprel                             ugelib                                                   distrlib                                                     moalib plvconformitebacterio plvconformitechimique plvconformitereferencebact plvconformitereferencechim  de_partition de_ingestion_date de_dataset_datetime
0    001  001000003             01007        AMBRONAY          None           None          None   00100139034 2024-01-23     11h27            Eau d'alimentation conforme aux limites de qualité et non conforme aux références de qualité.  SYND. EAUX REGION D'AMBERIEU-EN-B  SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY  SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY                     C                     C                          N                          C          2024        2025-02-28     20250203-075802
1    001  001000003             01007        AMBRONAY          None           None          None   00100139393 2024-02-13     12h49  Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.  SYND. EAUX REGION D'AMBERIEU-EN-B  SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY  SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY                     C                     C                          C                          C          2024        2025-02-28     20250203-075802

In [18]:
#view table edc_resultats
edc_resultats_show = con.execute("SELECT * FROM edc_resultats  ORDER BY referenceprel LIMIT 10").fetchdf()
edc_resultats_show

  cddept referenceprel cdparametresiseeaux  cdparametre              libmajparametre              libminparametre libwebparametre qualitparam insituana                     rqana cdunitereferencesiseeaux cdunitereference limitequal     refqual  valtraduite    casparam referenceanl  de_partition de_ingestion_date de_dataset_datetime
0    001   00100138503             ALTMICR         1370         ALUMINIUM TOTAL µG/L         Aluminium total µg/l            None           N         L                       <10                     µg/L              133       None  <=200 µg/L         0.00   7429-90-5  00100147233          2024        2025-02-28     20250203-075802
1    001   00100138503                 ASP         6489          ASPECT (QUALITATIF)          Aspect (qualitatif)            None           O         L             Aspect normal               SANS OBJET                X       None        None         0.00        None  00100147232          2024        2025-02-28     20250203-075802
2    001   00100138503                 ASP         6489          ASPECT (QUALITATIF)          Aspect (qualitatif)            None           O         L             Aspect normal               SANS OBJET                X       None        None         0.00        None  00100147233          2024        2025-02-28     20250203-075802
3    001   00100138503              CL2LIB         1398                 CHLORE LIBRE                 Chlore libre            None           N         T                      0,30                mg(Cl2)/L              165       None        None         0.30        None         None          2024        2025-02-28     20250203-075802
4    001   00100138503              CL2TOT         1399                 CHLORE TOTAL                 Chlore total            None           N         T                      0,34                mg(Cl2)/L              165       None        None         0.34        None         None          2024        2025-02-28     20250203-075802
5    001   00100138503                CLO2         1754  BIOXYDE DE CHLORE MG/L CLO2  Bioxyde de chlore mg/L ClO2            None           N         T                      N.M.                     mg/L              162       None        None          NaN  10049-04-4         None          2024        2025-02-28     20250203-075802
6    001   00100138503               COULQ         5900         COULEUR (QUALITATIF)         Couleur (qualitatif)            None           O         T  Aucun changement anormal               SANS OBJET                X       None        None         0.00        None         None          2024        2025-02-28     20250203-075802
7    001   00100138503                 FET         1393                    FER TOTAL                    Fer total            None           N         L                        10                     µg/L              133       None  <=200 µg/L        10.00   7439-89-6  00100147232          2024        2025-02-28     20250203-075802
8    001   00100138503                  O3         1746                        OZONE                        Ozone            None           N         T                      N.M.                     mg/L              162       None        None          NaN  10028-15-6         None          2024        2025-02-28     20250203-075802
9    001   00100138503                 ODQ         5901           ODEUR (QUALITATIF)           Odeur (qualitatif)            None           O         L  Aucun changement anormal               SANS OBJET                X       None        None         0.00        None  00100147232          2024        2025-02-28     20250203-075802

In [11]:
#view table mapping_categories
table_check = con.sql("SELECT * FROM mapping_categories LIMIT 10").df()
table_check.head(2)

  cdparametresiseeaux  cdparametre                libmajparametre                libminparametre   casparam   categorie
0              PESTOT         6276  TOTAL DES PESTICIDES ANALYSÉS  Total des pesticides analysés       None  pesticides
1                ATRZ         1107                       ATRAZINE                       Atrazine  1912-24-9  pesticides

In [123]:
#view table mapping_categories paramètre unique
table_check_unique_param_show = con.sql("SELECT cdparametre, cdparametresiseeaux, categorie, COUNT(cdparametresiseeaux) OVER () FROM mapping_categories").df()
print(table_check_unique_param_show)

      cdparametre cdparametresiseeaux   categorie  count(cdparametresiseeaux) OVER ()
0            6276              PESTOT  pesticides                                1611
1            1107                ATRZ  pesticides                                1611
2            1263                 SMZ  pesticides                                1611
3            1221                 MTC  pesticides                                1611
4            1268                 TBZ  pesticides                                1611
...           ...                 ...         ...                                 ...
1607         7850                TC2P  non classé                                1611
1608         2910              BDE183  non classé                                1611
1609         1921               PBDE1  non classé                                1611
1610         2641               DEGBE  non classé                                1611
1611         1420                   Q  non classé                                1611

[1612 rows x 4 columns]

In [16]:
#view table mapping_categories verification des  cdparametresiseeaux non unique
query_map_unique = """
WITH duplicate_count AS (
SELECT cdparametre, cdparametresiseeaux, categorie, COUNT( cdparametresiseeaux) AS count_param
FROM mapping_categories
GROUP BY cdparametresiseeaux, cdparametre, categorie 
HAVING count_param > 1)

SELECT *
FROM mapping_categories
WHERE cdparametresiseeaux IN (SELECT cdparametresiseeaux
                                FROM duplicate_count)
ORDER BY cdparametresiseeaux

"""

table_check_dupliate_show = con.sql(query_map_unique).df()
table_check_dupliate_show

# cdparametre contient 61 lignes vides
# cdparametresiseeaux contient 1 ligne vide

   cdparametresiseeaux  cdparametre                                 libmajparametre                                                         libminparametre      casparam                  categorie
0                ANTXA         7550                              ANATOXINE A TOTALE                                                      Anatoxine A totale    64285-06-9                   microbio
1                ANTXA         7550                            ANATOXINES A TOTALES                                                    Anatoxines A totales    64285-06-9                   microbio
2                 AUSN         7719                                            AUSN  2-[(carbamimidoylcarbamoyl)sulfamoyl]-N,Ndimethylpyridine-3-carboxamid  2307738-55-0    métabolite de pesticide
3                 AUSN         7719                                            AUSN  2-[(carbamimidoylcarbamoyl)sulfamoyl]-N,Ndimethylpyridine-3-carboxamid          None    métabolite de pesticide
4                   CL         1337                                       CHLORURES                                                               Chlorures          None  sous produit désinfection
5                   CL         1337                                       CHLORURES                                                               Chlorures    16887-00-6  sous produit désinfection
6              CLTHALS         7717                          CHLOROTHALONIL R417888                                                  Chlorothalonil R417888  1418095-02-9    métabolite de pesticide
7              CLTHALS         7717                               CHLOROTHALONIL SA                                                       Chlorothalonil SA  1418095-02-9    métabolite de pesticide
8              CYANO53         <NA>                                    JAAGINEMA SP                                                                    None          None                   microbio
9              CYANO53         <NA>                                    JAAGINEMA SP                                                            Jaaginema sp          None                   microbio
10              CYSPPS         7552                      CYLINDROSPERMOPSINE TOTALE                                              Cylindrospermopsine totale   143545-90-8                   microbio
11              CYSPPS         7552                    CYLINDROSPERMOPSINES TOTALES                                            Cylindrospermopsines totales   143545-90-8                   microbio
12             GIARDIA         1064                                     GIARDIA SPP                                                             Giardia spp          None                   microbio
13             GIARDIA         1064                                   AMIBE GIARDIA                                                           Amibe giardia          None                   microbio
14             IMAZAQU         2860                                      IMIZAQUINE                                                              Imizaquine    81335-37-7                 pesticides
15             IMAZAQU         2860                                      IMAZAQUINE                                                              Imazaquine    81335-37-7                 pesticides
16             MCTOAEL         6278  TOTAL DES MICROCYSTINES ANALYSÉES - TEST ELISA                          Total des microcystines analysées - test ELISA          None                   microbio
17             MCTOAEL         6278             MICROCYSTINES ANALYSÉES -TEST ELISA                                     Microcystines analysées -test ELISA          None                   microbio
18               MCTOT         6278               SOMME DES MICROCYSTINES ANALYSÉES                                       Somme des microcystines analysées          None                   microbio
19               MCTOT         6278      SOMME DES MICROCYSTINES ANALYSÉES (CALCUL)                              Somme des microcystines analysées (calcul)          None                   microbio
20                 NO2         1339                               NITRITES (EN NO2)                                                       Nitrites (en NO2)          None                    nitrite
21                 NO2         1339                               NITRITES (EN NO2)                                                       Nitrites (en NO2)    14797-65-0                    nitrite
22                 NO3         1340                               NITRATES (EN NO3)                                                       Nitrates (en NO3)          None                    nitrite
23                 NO3         1340                               NITRATES (EN NO3)                                                       Nitrates (en NO3)    14797-55-8                    nitrite
24                PFOS         6561             ACIDE SULFONIQUE DE PERFLUOROOCTANE                                     Acide sulfonique de perfluorooctane     1763-23-1                       pfas
25                PFOS         6561                    SULFONATE DE PERFLUOROOCTANE                                            Sulfonate de perfluorooctane    45298-90-6                       pfas
26               PPCBS         5602                         PROPOXYCARBAZONE-SODIUM                                                 Propoxycarbazone-sodium   181274-15-7                 pesticides
27               PPCBS         5602                                PROPOXYCARBAZONE                                                        Propoxycarbazone   181274-15-7                 pesticides
28               SAXIT         7551                               SAXITOXINE TOTALE                                                       Saxitoxine totale    35523-89-8                   microbio
29               SAXIT         7551                             SAXITOXINES TOTALES                                                     Saxitoxines totales    35523-89-8                   microbio
30                URAN         1361                                 URANIUM EN ΜG/L                                                         Uranium en µg/l     7440-61-1                 non classé
31                URAN         1361                URANIUM EN MICROGRAMME PAR LITRE                                                         Uranium en µg/l     7440-61-1                 non classé

In [ ]:
#join edc_resultat avec mapping_categories avec distinct cdparametresiseau
query_mapped_edc_resultats = """
SELECT edc_resultats.*, mapping.categorie
FROM edc_resultats
LEFT JOIN (SELECT DISTINCT cdparametresiseeaux, categorie FROM mapping_categories) AS mapping
ON edc_resultats.cdparametresiseeaux = mapping.cdparametresiseeaux
LIMIT 5
"""
mapped_edc_resultats_show = con.sql(query_mapped_edc_resultats).fetchdf()
mapped_edc_resultats_show

  cddept referenceprel cdparametresiseeaux  cdparametre              libmajparametre              libminparametre libwebparametre qualitparam insituana                     rqana cdunitereferencesiseeaux cdunitereference limitequal     refqual  valtraduite    casparam referenceanl  de_partition de_ingestion_date de_dataset_datetime                  categorie
0    001   00100138503             ALTMICR         1370         ALUMINIUM TOTAL µG/L         Aluminium total µg/l            None           N         L                       <10                     µg/L              133       None  <=200 µg/L          0.0   7429-90-5  00100147233          2024        2025-02-28     20250203-075802                    minéral
1    001   00100138503              CL2LIB         1398                 CHLORE LIBRE                 Chlore libre            None           N         T                      0,30                mg(Cl2)/L              165       None        None          0.3        None         None          2024        2025-02-28     20250203-075802  sous produit désinfection
2    001   00100138503                CLO2         1754  BIOXYDE DE CHLORE MG/L CLO2  Bioxyde de chlore mg/L ClO2            None           N         T                      N.M.                     mg/L              162       None        None          NaN  10049-04-4         None          2024        2025-02-28     20250203-075802  sous produit désinfection
3    001   00100138503               COULQ         5900         COULEUR (QUALITATIF)         Couleur (qualitatif)            None           O         T  Aucun changement anormal               SANS OBJET                X       None        None          0.0        None         None          2024        2025-02-28     20250203-075802   paramètre organoleptique
4    001   00100138503                 FET         1393                    FER TOTAL                    Fer total            None           N         L                        10                     µg/L              133       None  <=200 µg/L         10.0   7439-89-6  00100147232          2024        2025-02-28     20250203-075802                    minéral

In [47]:
#verif nombre de ligne après mapping entre edc_resultats et mapping_categories
count_mapped_edc_resultats = """
WITH MAPPED_EDC_RESULTATS AS (SELECT edc_resultats.*, mapping.categorie
FROM edc_resultats
LEFT JOIN (SELECT DISTINCT cdparametresiseeaux, categorie FROM mapping_categories) AS mapping
ON edc_resultats.cdparametresiseeaux = mapping.cdparametresiseeaux)

SELECT 
    CASE 
        WHEN Count(*)  = (SELECT count(*) FROM mapped_edc_resultats)
        THEN 'OK' 
        ELSE 'KO'
    END AS Comparaison
FROM edc_resultats

"""
nb_mapped_edc_resultats = con.sql(count_mapped_edc_resultats)
nb_mapped_edc_resultats

┌─────────────┐
│ Comparaison │
│   varchar   │
├─────────────┤
│ OK          │
└─────────────┘

In [ ]:
#nombre de résultats par dernier prélévement par udi(il peut y avoir plusieurs prélévements à la même date pour un udi et plusieurs analyses pour un même prélèvement)
query_resultat_par_udi = """
WITH MAPPED_EDC_RESULTATS AS (
SELECT edc_resultats.*, mapping.categorie
FROM edc_resultats
LEFT JOIN (SELECT DISTINCT cdparametresiseeaux, categorie FROM mapping_categories) AS mapping
ON edc_resultats.cdparametresiseeaux = mapping.cdparametresiseeaux)
,
LAST_PREL AS ( 
SELECT cdreseau, MAX(dateprel) AS dernierdateplv
FROM edc_prelevements
WHERE cdreseauamont IS NULL
GROUP BY cdreseau
ORDER BY cdreseau)
,
ALLPREL_DE_LASTPREL AS (
SELECT lp.cdreseau, lp.dernierdateplv, ed.referenceprel, ed.heureprel
FROM LAST_PREL AS lp
JOIN edc_prelevements AS ed
ON lp.cdreseau = ed.cdreseau AND lp.dernierdateplv = ed.dateprel
ORDER BY lp.cdreseau, lp.dernierdateplv, ed.referenceprel)
,
RESULT_DERNIER_PLV AS (
SELECT ap.* , mr.*
FROM ALLPREL_DE_LASTPREL AS ap
LEFT JOIN MAPPED_EDC_RESULTATS  mr
ON ap.referenceprel = mr.referenceprel)
,
MAX_VAL_PARAM AS (
SELECT cdreseau, cdparametresiseeaux, MAX(valtraduite) AS maxvaltraduite                                                                                                                  
FROM RESULT_DERNIER_PLV
GROUP BY cdreseau, cdparametresiseeaux)

SELECT mv.* , dr.* 
FROM MAX_VAL_PARAM As mv
LEFT JOIN RESULT_DERNIER_PLV AS dr
ON mv.cdreseau = dr.cdreseau  AND mv.cdparametresiseeaux = dr.cdparametresiseeaux AND mv.maxvaltraduite = dr.valtraduite
ORDER BY mv.cdreseau, mv.cdparametresiseeaux, dr.valtraduite

"""

resultat_par_udi = con.sql(query_resultat_par_udi).to_df()
resultat_par_udi

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

         cdreseau cdparametresiseeaux  maxvaltraduite cdreseau_1 dernierdateplv referenceprel heureprel cddept referenceprel_1 cdparametresiseeaux_1  cdparametre                      libmajparametre                      libminparametre libwebparametre qualitparam insituana                     rqana cdunitereferencesiseeaux cdunitereference     limitequal                refqual  valtraduite casparam referenceanl  de_partition de_ingestion_date de_dataset_datetime                  categorie
0       001000003                 ASP            0.00  001000003     2024-11-25   00100143199     09h31    001     00100143199                   ASP         6489                  ASPECT (QUALITATIF)                  Aspect (qualitatif)            None           O         L             Aspect normal               SANS OBJET                X           None                   None         0.00     None  00100152207          2024        2025-02-28     20250203-075802   paramètre organoleptique
1       001000003                BSIR            0.00  001000003     2024-11-25   00100143199     09h31    001     00100143199                  BSIR         1042  BACT. ET SPORES SULFITO-RÉDU./100ML  Bact. et spores sulfito-rédu./100ml            None           N         L                        <1                n/(100mL)              226           None          <=0 n/(100mL)         0.00     None  00100152207          2024        2025-02-28     20250203-075802                   microbio
2       001000003               CDT25          495.00  001000003     2024-11-25   00100143199     09h31    001     00100143199                 CDT25         1303                  CONDUCTIVITÉ À 25°C                  Conductivité à 25°C            None           N         L                       495                    µS/cm              147           None  >=200 et <=1100 µS/cm       495.00     None  00100152207          2024        2025-02-28     20250203-075802   paramètre organoleptique
3       001000003              CL2LIB            0.00  001000003     2024-11-25   00100143199     09h31    001     00100143199                CL2LIB         1398                         CHLORE LIBRE                         Chlore libre            None           N         T                     <0,03                mg(Cl2)/L              165           None                   None         0.00     None         None          2024        2025-02-28     20250203-075802  sous produit désinfection
4       001000003              CL2TOT            0.05  001000003     2024-11-25   00100143199     09h31    001     00100143199                CL2TOT         1399                         CHLORE TOTAL                         Chlore total            None           N         T                      0,05                mg(Cl2)/L              165           None                   None         0.05     None         None          2024        2025-02-28     20250203-075802  sous produit désinfection
...           ...                 ...             ...        ...            ...           ...       ...    ...             ...                   ...          ...                                  ...                                  ...             ...         ...       ...                       ...                      ...              ...            ...                    ...          ...      ...          ...           ...               ...                 ...                        ...
791305  976003554                SAVQ            0.00  976003554     2024-11-12   97600032321     10h00    976     97600032321                  SAVQ         5902                  SAVEUR (QUALITATIF)                  Saveur (qualitatif)            None           O         T  Aucun changement anormal               SANS OBJET                X           None                   None         0.00     None         None          2024        2025-02-28     20250203-075802   paramètre organoleptique
791306  976003554                STRF            0.00  976003554     2024-11-12   97600032321     10h00    976     97600032321                  STRF         6455               ENTÉROCOQUES /100ML-MS               Entérocoques /100ml-MS            None           N         L                        <1                n/(100mL)              226  <=0 n/(100mL)                   None         0.00     None  97600042506          2024        2025-02-28     20250203-075802                   microbio
791307  976003554             TEMPDOM           31.40  976003554     2024-11-12   97600032321     10h00    976     97600032321               TEMPDOM         1301           TEMPÉRATURE DE L'EAU (DOM)           Température de l'eau (DOM)            None           N         T                      31,4                       °C               27           None                   None        31.40     None         None          2024        2025-02-28     20250203-075802   paramètre organoleptique
791308  976003554             TEMP_PH           17.50  976003554     2024-11-12   97600032321     10h00    976     97600032321               TEMP_PH         6484          TEMPÉRATURE DE MESURE DU PH          Température de mesure du pH            None           N         L                      17,5                       °C               27           None                   None        17.50     None  97600042507          2024        2025-02-28     20250203-075802   paramètre organoleptique
791309  976003554             TURBNFU            0.23  976003554     2024-11-12   97600032321     10h00    976     97600032321               TURBNFU         1295        TURBIDITÉ NÉPHÉLOMÉTRIQUE NFU        Turbidité néphélométrique NFU            None           N         L                      0,23                      NFU              232           None                <=2 NFU         0.23     None  97600042507          2024        2025-02-28     20250203-075802   paramètre organoleptique

[791310 rows x 28 columns]

In [152]:
# nb sous_catégorie resultat par udi
query_souscat_resultat_par_udi = """

SELECT cdreseau, categorie, COUNT(DISTINCT cdparametresiseeaux) AS nbsous_cat
FROM resultat_par_udi
GROUP BY cdreseau, categorie
ORDER BY  nbsous_cat DESC, cdreseau, categorie

"""
souscat_resultat_par_udi = con.sql (query_souscat_resultat_par_udi).to_df()
souscat_resultat_par_udi

         cdreseau   categorie  nbsous_cat
0       008000821  pesticides         493
1       051000597  pesticides         493
2       051000607  pesticides         493
3       051000728  pesticides         493
4       051000729  pesticides         493
...           ...         ...         ...
117428  976000068  non classé           1
117429  976003464  non classé           1
117430  976003487  non classé           1
117431  976003489     nitrite           1
117432  976003554     nitrite           1

[117433 rows x 3 columns]

In [146]:
# nb catégorie resultat par udi
query_cat_resultat_par_udi = """

SELECT cdreseau, COUNT(DISTINCT categorie) AS nbcat
FROM resultat_par_udi
GROUP BY cdreseau,
ORDER BY   nbcat DESC , cdreseau

"""
cat_resultat_par_udi = con.sql (query_cat_resultat_par_udi).to_df()
cat_resultat_par_udi

        cdreseau  nbcat
0      025000882     16
1      025000744     15
2      025001339     15
3      025001578     15
4      025001579     15
...          ...    ...
23061  089000754      1
23062  089001065      1
23063  089003501      1
23064  973000698      1
23065  973003458      1

[23066 rows x 2 columns]

In [148]:
#max et min résultats à afficher par UDI
max_nbresultat_souscat = souscat_resultat_par_udi["nbsous_cat"].max()
print(f"nombre maximum de sous catégorie de résultat par UDI : {max_nbresultat_souscat}")

min_nbresultat_souscat = souscat_resultat_par_udi["nbsous_cat"].min()
print(f"nombre minumun de sous catégorie de résultat par UDI : {min_nbresultat_souscat}")

max_nbresultat_cat = cat_resultat_par_udi["nbcat"].max()
print(f"nombre maximum de catégorie de résultat par UDI : {max_nbresultat_cat}")

min_nbresultat_cat = cat_resultat_par_udi["nbcat"].min()
print(f"nombre maximum de catégorie de résultat par UDI : {min_nbresultat_cat}")

nombre maximum de sous catégorie de résultat par UDI : 493
nombre minumun de sous catégorie de résultat par UDI : 1
nombre maximum de catégorie de résultat par UDI : 16
nombre maximum de catégorie de résultat par UDI : 1

In [168]:
# Nombre d'UDI par tranche de résultat à afficher
query_nb_udi_par_catégorie_de_resultat = """ 
WITH 
plage AS ( 
    SELECT a.borneinf, a.borneinf + 4 AS bornesup 
    FROM generate_series(0, 15, 4) AS a(borneinf))

SELECT borneinf, bornesup, COUNT(cdreseau) AS nbrcdreseau
FROM plage
LEFT JOIN cat_resultat_par_udi
ON cat_resultat_par_udi.nbcat >=plage.borneinf 
    AND cat_resultat_par_udi.nbcat <=plage.bornesup
GROUP BY borneinf, bornesup
ORDER BY borneinf
"""

nb_udi_par_catégorie_de_resultat = con.sql(query_nb_udi_par_catégorie_de_resultat).df()
nb_udi_par_catégorie_de_resultat.set_index(["borneinf", "bornesup"], inplace=True)
nb_udi_par_catégorie_de_resultat

                   nbrcdreseau
borneinf bornesup
0        4               13488
4        8               19985
8        12               1731
12       16                482

In [172]:
# Nombre d'UDI par tranche de sous catégorie de résultat à afficher
query_nb_udi_par_sous_catégorie_de_resultat = """ 
WITH 
plage AS ( 
    SELECT a.borneinf, a.borneinf + 10 AS bornesup 
    FROM generate_series(0, 490, 10) AS a(borneinf))

SELECT borneinf, bornesup, COUNT(cdreseau) AS nbrcdreseau
FROM plage AS pl
LEFT JOIN souscat_resultat_par_udi AS sc
ON sc.nbsous_cat >=pl.borneinf 
    AND sc.nbsous_cat <=pl.bornesup
GROUP BY borneinf, bornesup
ORDER BY borneinf
"""

nb_udi_par_sous_catégorie_de_resultat = con.sql(query_nb_udi_par_sous_catégorie_de_resultat).df()
nb_udi_par_sous_catégorie_de_resultat.set_index(["borneinf", "bornesup"], inplace=True)
nb_udi_par_sous_catégorie_de_resultat

                   nbrcdreseau
borneinf bornesup
0        10             110740
10       20               6826
20       30                898
30       40                481
40       50                189
50       60                217
60       70                  9
70       80                  1
80       90                  1
90       100                 0
100      110                12
110      120                12
120      130                70
130      140                 0
140      150                55
150      160                91
160      170                87
170      180               124
180      190                18
190      200                26
200      210                 4
210      220                 3
220      230                 0
230      240                 9
240      250                15
250      260                90
260      270                 0
270      280                 0
280      290                17
290      300                80
300      310               107
310      320                 0
320      330                 0
330      340                 0
340      350                 0
350      360                 2
360      370                33
370      380                 0
380      390                12
390      400                 0
400      410                 0
410      420                 0
420      430                 0
430      440                 0
440      450                 0
450      460                 0
460      470                 0
470      480                 4
480      490                 0
490      500                 8

In [166]:
#vérif cdreseau 008000821 qui contient 493 paramètres analyés
query_cdreseau_008000821_493_sous_cat = """ 

SELECT *
FROM resultat_par_udi
WHERE cdreseau = '008000821' AND categorie = 'pesticides'
 """

cdreseau_008000821_493_sous_cat = con.sql(query_cdreseau_008000821_493_sous_cat).to_df()
cdreseau_008000821_493_sous_cat

      cdreseau cdparametresiseeaux  maxvaltraduite cdreseau_1 dernierdateplv referenceprel heureprel cddept referenceprel_1 cdparametresiseeaux_1  cdparametre        libmajparametre        libminparametre  libwebparametre qualitparam insituana   rqana cdunitereferencesiseeaux cdunitereference  limitequal refqual  valtraduite     casparam referenceanl  de_partition de_ingestion_date de_dataset_datetime   categorie
0    008000821                245T             0.0  008000821     2024-11-19   00800106817     09h30    008     00800106817                  245T         1264                2,4,5-T                2,4,5-T             <NA>           N         L  <0,020                     µg/L              133  <=0,1 µg/L    None          0.0      93-76-5  00800110427          2024        2025-02-28     20250203-075802  pesticides
1    008000821                 24D             0.0  008000821     2024-11-19   00800106817     09h30    008     00800106817                   24D         1141                  2,4-D                  2,4-D             <NA>           N         L  <0,020                     µg/L              133  <=0,1 µg/L    None          0.0      94-75-7  00800110427          2024        2025-02-28     20250203-075802  pesticides
2    008000821                24DB             0.0  008000821     2024-11-19   00800106817     09h30    008     00800106817                  24DB         1142                 2,4-DB                 2,4-DB             <NA>           N         L  <0,050                     µg/L              133  <=0,1 µg/L    None          0.0      94-82-6  00800110427          2024        2025-02-28     20250203-075802  pesticides
3    008000821               24DIE             0.0  008000821     2024-11-19   00800106817     09h30    008     00800106817                 24DIE         2872  2,4-D-ISOPROPYL ESTER  2,4-D-isopropyl ester             <NA>           N         L  <0,005                     µg/L              133  <=0,1 µg/L    None          0.0      94-11-1  00800110427          2024        2025-02-28     20250203-075802  pesticides
4    008000821               24DME             0.0  008000821     2024-11-19   00800106817     09h30    008     00800106817                 24DME         2873     2,4-D-METHYL ESTER     2,4-D-methyl ester             <NA>           N         L  <0,005                     µg/L              133  <=0,1 µg/L    None          0.0    1928-38-7  00800110427          2024        2025-02-28     20250203-075802  pesticides
..         ...                 ...             ...        ...            ...           ...       ...    ...             ...                   ...          ...                    ...                    ...              ...         ...       ...     ...                      ...              ...         ...     ...          ...          ...          ...           ...               ...                 ...         ...
488  008000821             TTDIFON             0.0  008000821     2024-11-19   00800106817     09h30    008     00800106817               TTDIFON         1900             TETRADIFON             Tetradifon             <NA>           N         L  <0,005                     µg/L              133  <=0,1 µg/L    None          0.0     116-29-0  00800110427          2024        2025-02-28     20250203-075802  pesticides
489  008000821               UNCAZ             0.0  008000821     2024-11-19   00800106817     09h30    008     00800106817                 UNCAZ         7482            UNICONAZOLE            Uniconazole             <NA>           N         L  <0,005                     µg/L              133  <=0,1 µg/L    None          0.0   83657-22-1  00800110427          2024        2025-02-28     20250203-075802  pesticides
490  008000821               VALIF             0.0  008000821     2024-11-19   00800106817     09h30    008     00800106817                 VALIF         8045           VALIFENALATE           Valifenalate             <NA>           N         L  <0,005                     µg/L              133  <=0,1 µg/L    None          0.0  283159-90-0  00800110427          2024        2025-02-28     20250203-075802  pesticides
491  008000821                VMDT             0.0  008000821     2024-11-19   00800106817     09h30    008     00800106817                  VMDT         1290            VAMIDOTHION            Vamidothion             <NA>           N         L  <0,005                     µg/L              133  <=0,1 µg/L    None          0.0    2275-23-2  00800110427          2024        2025-02-28     20250203-075802  pesticides
492  008000821             ZOXAMID             0.0  008000821     2024-11-19   00800106817     09h30    008     00800106817               ZOXAMID         2858               ZOXAMIDE               Zoxamide             <NA>           N         L  <0,005                     µg/L              133  <=0,1 µg/L    None          0.0  156052-68-5  00800110427          2024        2025-02-28     20250203-075802  pesticides

[493 rows x 28 columns]