In [ ]:
import duckdb
from pipelines.tasks.config.common import DUCKDB_FILE


con = duckdb.connect(database=DUCKDB_FILE, read_only=True)
# con.sql("Show Tables;").show()

# df = con.sql("DESCRIBE atlasante_udi;").df()
df = con.sql("Select * from edc_resultats").df()
df.head()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [ ]:
# install spatial extention
con.sql("INSTALL spatial;")
# Load spatial extension
con.sql("LOAD spatial;")

In [ ]:
df = con.sql("Select * from atlasante_udi where uge_nom like '%EAU DE PARIS%'").df()
# df.head(1).to_csv("test_maison.csv")
df.head()

,gid,code_udi,code_ins,ins_nom,ins_etat,udi_pop,uge_code,uge_nom,uge_exp_cn,uge_exp_nom,uge_mo_cn,uge_mo_nom,geom
0,1555,075000221,075000221,CENTRE,ACT,,0750001,EAU DE PARIS,07500034,EAU DE PARIS,07500034,EAU DE PARIS,"[5, 4, 0, 0, 0, 0, 0, 0, 172, 97, 17, 64, 237,..."
1,2486,075000227,075000227,EST,ACT,,0750001,EAU DE PARIS,07500034,EAU DE PARIS,07500034,EAU DE PARIS,"[5, 4, 0, 0, 0, 0, 0, 0, 131, 3, 22, 64, 150, ..."
2,9623,075000225,075000225,SUD OUEST,ACT,,0750001,EAU DE PARIS,07500034,EAU DE PARIS,07500034,EAU DE PARIS,"[5, 4, 0, 0, 0, 0, 0, 0, 155, 89, 14, 64, 66, ..."
3,11249,075000222,075000222,NORD OUEST,ACT,,0750001,EAU DE PARIS,07500034,EAU DE PARIS,07500034,EAU DE PARIS,"[5, 4, 0, 0, 0, 0, 0, 0, 202, 109, 17, 64, 25,..."

In [ ]:
# Paris North (Nord - near Saint-Denis):
# latitudeN = 48.9358
# longitudeN = 2.3538
# Paris South
# latitudeS = 48.8186
# longitudeS = 2.3326
# Paris West (Ouest - near Porte Maillot/Neuilly):
# latitudeW = 48.8781
# longitudeW = 2.2785
# Central Paris (Centre - Notre-Dame):
latitude = 48.8566
longitude = 2.3522

sql = f"""
SELECT *
FROM atlasante_udi
WHERE ST_Contains(geom, ST_GeomFromText('POINT({longitude} {latitude})'));
"""
df = con.sql(sql).df()
df.head()

,gid,code_udi,code_ins,ins_nom,ins_etat,udi_pop,uge_code,uge_nom,uge_exp_cn,uge_exp_nom,uge_mo_cn,uge_mo_nom,geom
0,1555,075000221,075000221,CENTRE,ACT,,0750001,EAU DE PARIS,07500034,EAU DE PARIS,07500034,EAU DE PARIS,"[5, 4, 0, 0, 0, 0, 0, 0, 172, 97, 17, 64, 237,..."

In [15]:
con.close()